.added__container{
    width: 100%;
    height: 100vh;
    background-color: aqua;
}
.inputdiv{
    padding-left: 500px;
    padding-top: 100px;
    button{
width: 300px;
height: 40px;
background-color: green;
    }
}
input{
    width: 300px;
    height: 40px;
    margin-bottom: 30px;
}
